<footer>
  <div class="row justify-content-center">
    <div class="col-md-12 text-center">
      <nav class="navbar bottom navbar-light justify-content-center">
        <a
          class="nav-item nav-link"
          href="https://www.linkedin.com/in/eyvazahmadzada/"
          target="blank"
          ><i class="fa fa-linkedin-square" aria-hidden="true"></i
        ></a>
        <a
          class="nav-item nav-link"
          href="https://www.facebook.com/eyvaz.ahmedzade.12"
          target="blank"
          ><i class="fa fa-facebook-square" aria-hidden="true"></i
        ></a>
        <a
          class="nav-item nav-link"
          href="https://github.com/eyvazahmadzada"
          target="blank"
          ><i class="fa fa-github-square" aria-hidden="true"></i
        ></a>
        <a
          class="nav-item nav-link"
          href="mailto:eyvaz.ahmedzade.12@gmail.com"
          target="blank"
          ><i class="fa fa-envelope-square" aria-hidden="true"></i
        ></a>
      </nav>
    </div>
  </div>
  <p class="text-center">&copy;2020 Eyvaz Ahmadzada</p>
</footer>
