<section>
  <app-heading>ABOUT</app-heading>
  <div class="row justify-content-center">
    <div class="col-md-9 col-sm-9 col-12 text-center">
      <div class="about animate__animated animate__fadeInLeft">
        <img
          src="../../assets/images/academic-pp.jpg"
          class="mx-auto d-block img-fluid rounded-circle shadow"
          alt="academic-pp"
        /><br />
        <h3>Who is this guy?</h3>
        <p>
          Highly motivated and very meticulous web developer with up to 2 years
          of front-end experience and passion for responsive website design.
          Have experience of completing web projects efficiently and satisfying
          customers with attractive, user-friendly websites.
        </p>
        <button class="btn-custom rounded-0" (click)="onDownloadCV()">
          Download CV
        </button>
      </div>
      <hr />
      <div
        class="skills animate__animated animate__fadeInLeft animate__delay-1s"
      >
        <h3 class="skills-header">My skills</h3>
        <div *ngFor="let skill of skills">
          <app-progress-bar [value]="skill.value">{{
            skill.name | uppercase
          }}</app-progress-bar>
        </div>
      </div>
      <hr />
    </div>
  </div>
</section>
