img {
  width: 300px;
  height: 300px;
  border: 2px solid #38a3b8;
  background-color: white;
}

a {
  text-decoration: none;
}

.skills-header {
  text-align: left;
}

.btn-custom {
  background-color: white;
  color: black;
  border: 2px solid #38a3b8;
  padding: 0.375rem 0.75rem;
}

.btn-custom:hover {
  transition: 0.5s;
  border: 2px solid #38a3b8;
  background-color: #343a40;
  color: white;
}

.btn-custom:focus {
  box-shadow: none;
  outline: none;
}

@media only screen and (max-width: 576px) {
  img {
    width: 200px;
    height: 200px;
  }

  h3 {
    font-size: 1.6em;
  }

  .skills-header {
    text-align: center;
  }

  button {
    font-size: 1em;
    padding: 0.3rem 0.6rem;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  img {
    width: 250px;
    height: 250px;
  }

  h3 {
    font-size: 1.6em;
  }

  button {
    font-size: 1.1em;
    padding: 0.325rem 0.65rem;
  }
}
