<section>
  <app-heading>ABOUT</app-heading>
  <div class="row justify-content-center">
    <div class="col-md-9 col-sm-9 col-12 text-center">
      <div class="about animate__animated animate__fadeInLeft">
        <img
          src="../../assets//images/academic-pp.png"
          class="mx-auto d-block img-fluid rounded-circle shadow"
          alt="academic-pp"
        /><br />
        <h3>Who is this guy?</h3>
        <p>
          A highly motivated second year computer science student of
          French-Azerbaijani University who is trying to give his best to learn
          new technologies for diving into the modern web development and gain
          the required skills to build interactive websites.
        </p>
        <button class="btn-custom rounded-0" (click)="onDownloadCV()">
          Download CV
        </button>
      </div>
      <hr />
      <div
        class="skills animate__animated animate__fadeInLeft animate__delay-1s"
      >
        <h3 class="skills-header">My skills</h3>
        <div *ngFor="let skill of skills">
          <app-progress-bar [value]="skill.value">{{
            skill.name | uppercase
          }}</app-progress-bar>
        </div>
      </div>
      <hr />
    </div>
  </div>
</section>
