.name {
  color: #38A3B8;
}

section {
  margin-top: -80px;
}

.btn-custom {
  background-color: white;
  color: black;
  border: 2px solid #38A3B8;
  padding: .375rem .75rem;
}

.btn-custom:hover {
  transition: 0.5s;
  border: 2px solid #38A3B8;
  background-color: #343A40;
  color: white;
}

.btn-custom:focus {
  box-shadow: none;
  outline: none;
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .home-header {
    font-size: 1.4em;
  }

  button {
    font-size: 1.1em;
    padding: .325rem .65rem;
  }

  section {
    margin-top: -75px;
  }
}

@media screen and (max-width: 576px) {
  .home-header {
    font-size: 1.4em;
  }

  button {
    font-size: 1em;
    padding: .300rem .60rem;
  }

  section {
    margin-top: -70px;
  }
}
